@font-face{
    font-family:'DIYFY' ;  
    src:url('/fonts/FZSJ-FYTJW.TTF'); 
    font-display : swap;
  }
@font-face{
    font-family:'DIYTBPY' ;  
    src:url('/fonts/FZZJ-TBPYTJW.TTF'); 
    font-display : swap;
}
@font-face{
    font-family:'DIYJH' ;  
    src:url('/fonts/FZZJ-JHTJW.TTF'); 
    font-display : swap;
  }  

  html {
    cursor: url(/themes/butterfly/source/guangbiao/正常选择.cur), auto;
  }
