<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue练习Demo</title>
</head>
<style>
    body {
        text-align: center;
        overflow-x: hidden;
        background-color: #E0FFFF;
    }

    /* 滚动条 */
    ::-webkit-scrollbar-thumb {
        background-color: #2ab1ff;
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .4) 75%, transparent 75%, transparent);
        border-radius: 3em;
    }

    ::-webkit-scrollbar-track {
        background-color: #ffffff;
        border-radius: 3em;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 15px;
    }
</style>

<body>

    <body>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <h1>Vue练习Demo</h1>
        <br>
        <br>
        ===================================
        ===================================
        <h2>基础部分，<a href="https://226yzy.com/2021/120860549.html">原文链接</a></h2>
        <br>
        ===================================
        <br>
        <h2>示例:入门-Hello World</h2>
        <div id="app">
            <div>{{ message }}</div>
        </div>
        <script>
            new Vue({
                el: '#app',
                data: {
                    message: 'Hello World'
                }
            })
        </script>

        ===================================
        <br>
        <h2>示例:v-model</h2>
        <div id="app-0">
            <input v-model="value">
            {{value}}
        </div>
        <script>
            new Vue({
                el: '#app-0',
                data: {
                    value: 100,
                }
            })
        </script>

        ===================================
        <br>
        <h2>示例:v-text和v-html</h2>
        <div id="app-0-0">
            v-text: <span v-text="value"></span>
            <br>
            v-html: <span v-html="value"></span>
        </div>
        <script>
            new Vue({
                el: '#app-0-0',
                data: {
                    value: '<a href="#">这是一个链接</a>',
                }
            })
        </script>
        ===================================
        <br>
        <h2>示例:v-pre</h2>
        <div id="app-0-1">
            <span v-pre>{{这里的内容不会被编译}}</span>
        </div>
        <script>
            new Vue({
                el: '#app-0-1',
            })
        </script>


        ===================================
        <br>
        <h2>示例:v-if</h2>
        <div id="app-1">
            <p v-if="aa">我是aa</p>
            <p v-if="bb">我是bb</p>
        </div>

        <script>
            new Vue({
                el: '#app-1',
                data: {
                    aa: true,
                    bb: false
                }
            })
        </script>
        ===================================
        <br>
        <h2>示例:v-else</h2>
        <div id="app-2">
            <div v-if="aa>bb">
                aa大于bb
            </div>
            <div v-else>
                aa小于bb
            </div>
        </div>

        <script>
            new Vue({
                el: '#app-2',
                data: {
                    aa: 0,
                    bb: 1
                }
            })
        </script>
        ===================================
        <br>
        <h2>示例:v-else-if</h2>
        <div id="app-3">
            <div v-if="type == 'A'">
                A
            </div>
            <div v-else-if="type == 'B'">
                B
            </div>
            <div v-else-if="type == 'C'">
                C
            </div>
            <div v-else>
                Not A/B/C
            </div>
        </div>

        <script>
            new Vue({
                el: '#app-3',
                data: {
                    type: 'C'
                }
            })
        </script>

        ===================================
        <br>
        <h2>示例:v-show</h2>
        <div id="app-4">
            <p v-show="aa">我是aa</p>
            <p v-show="bb">我是bb</p>
        </div>

        <script>
            new Vue({
                el: '#app-4',
                data: {
                    aa: true,
                    bb: false
                }
            })
        </script>

        ===================================
        <br>
        <h2>示例:v-for</h2>
        <div id="app-5">
            <li v-for="site in sites">
                {{ site.name }}
            </li>
        </div>

        <script>
            new Vue({
                el: '#app-5',
                data: {
                    sites: [{
                            name: 'Runoob'
                        },
                        {
                            name: 'Google'
                        },
                        {
                            name: 'Taobao'
                        }
                    ]
                }
            })
        </script>


        ===================================
        <br>
        <h2>示例:v-bind</h2>
        <div id="app-6">
            <a v-bind:href="url">我的博客首页链接</a>
            <p v-bind:style="style">我是蓝控，这是蓝色的!</p>
        </div>

        <script>
            new Vue({
                el: '#app-6',
                data: {
                    url: 'https://www.226yzy.com',
                    style: 'color:#49B1F5'
                }
            })
        </script>
        ===================================
        <br>
        <h2>示例:v-on</h2>
        <div id="app-7">
            <p v-if="show">这是一段可隐藏的文本</p>
            <button v-on:click="show=false">点击隐藏</button>
        </div>

        <script>
            new Vue({
                el: '#app-7',
                data: {
                    show: true
                }
            })
        </script>
        ===================================
        <br>
        <h2>示例:methods方法</h2>
        <div id="app-7-1">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">反转消息</button>
        </div>

        <script>
            new Vue({
                el: '#app-7-1',
                data: {
                    message: 'Hello Vue.js!'
                },
                methods: {
                    reverseMessage: function () {
                        this.message = this.message.split('').reverse().join('')
                    }
                }
            })
        </script>

        ===================================
        <br>
        <h2>示例:计算属性</h2>
        <div id="app-8">
            <p>倒转前: "{{ message }}"</p>
            <p>倒转后: "{{ reversedMessage }}"</p>
        </div>

        <script>
            var vm = new Vue({
                el: '#app-8',
                data: {
                    message: 'Hello'
                },
                computed: {
                    reversedMessage: function () {
                        // `this` 指向 vm 实例
                        return this.message.split('').reverse().join('')
                    }
                }
            });
        </script>

        ===================================
        <br>
        <h2>示例:监听属性（千米与米换算）</h2>
        <div id="app-9">
            千米 : <input type="text" v-model="kilometers">
            米 : <input type="text" v-model="meters">
        </div>
        <p id="info"></p>
        <script type="text/javascript">
            var app1 = new Vue({
                el: '#app-9',
                data: {
                    kilometers: 0,
                    meters: 0
                },
                watch: {
                    kilometers: function (val) {
                        this.kilometers = val;
                        this.meters = this.kilometers * 1000
                    },
                    meters: function (val) {
                        this.kilometers = val / 1000;
                        this.meters = val;
                    }
                }
            });
            // $watch 是一个实例方法
            app1.$watch('kilometers', function (newValue, oldValue) {
                // 这个回调将在 app1.kilometers 改变后调用
                document.getElementById("info").innerHTML = "修改前值为: " + oldValue + "，修改后值为: " + newValue;
            })
        </script>



        <br>
        <br>
        ===================================
        ===================================
        <h2>组件部分，<a href="">原文链接</a></h2>
        <br>
        ===================================
        <br>
        <h2>示例:基本示例</h2>
        <div id="app0">
            <hallo-world></hallo-world>
            <hallo-world></hallo-world>
            <hallo-world></hallo-world>
        </div>

        <script>
            // 全局注册
            Vue.component('hallo-world', {
                //内容
                template: '<button>Hello World</button>'
            })
            // 创建根实例
            new Vue({
                el: '#app0'
            })
        </script>

        ===================================
        <br>
        <h2>示例:基本示例-函数</h2>
        <div id="app0-1">
            <hallo-world></hallo-world>
            <hallo-world></hallo-world>
            <hallo-world></hallo-world>
        </div>

        <script>
            // 全局注册
            Vue.component('hallo-world', {
                template: '<button @click="x++">你点击了这个 {{x}} 次</button>',
                data: function () {
                    return {
                        x: 0
                    }
                }
            })
            // 创建根实例
            new Vue({
                el: '#app0-1'
            })
        </script>

        ===================================
        <br>
        <h2>示例:template内换行</h2>

        <div id="app0-1-0">
            <hallo-world></hallo-world>
            <hallo-world></hallo-world>
            <hallo-world></hallo-world>
        </div>

        <script>
            // 全局注册
            Vue.component('hallo-world', {
                template: '<button @click="x++">\
                        你点击了这个 {{x}} 次\
    </button>',
                data: function () {
                    return {
                        x: 0
                    }
                }
            })
            // 创建根实例
            new Vue({
                el: '#app0-1-0'
            })
        </script>
        ===================================
        <br>
        <h2>示例:组件间数据相互影响</h2>
        <div id="app0-1-1">
            <hallo-world></hallo-world>
            <hallo-world></hallo-world>
            <hallo-world></hallo-world>
        </div>

        <script>
            var t = {
                x: 0
            }
            // 全局注册
            Vue.component('hallo-world', {
                template: '<button @click="x++">你点击了这个 {{x}} 次</button>',
                data: function () {
                    return t
                }
            })
            // 创建根实例
            new Vue({
                el: '#app0-1-1',
            })
        </script>

        ===================================
        <br>
        <h2>示例:全局组件</h2>

        <div id="app0-1-2">
            <hallo-world></hallo-world>
            <hallo-world></hallo-world>
            <hallo-world></hallo-world>
        </div>

        <script>
            // 全局注册
            Vue.component('hallo-world', {
                template: '<button @click="x++">你点击了这个 {{x}} 次</button>',
                data: function () {
                    return {
                        x: 0
                    }
                }
            })
            // 创建根实例
            new Vue({
                el: '#app0-1-2'
            })
        </script>


        ===================================
        <br>
        <h2>示例:局部组件</h2>
        <div id="app0-2">
            <runoob></runoob>
        </div>

        <script>
            var Child = {
                template: '<h1>自定义组件!</h1>'
            }

            // 创建根实例
            new Vue({
                el: '#app0-2',
                components: {
                    // <runoob> 将只在父模板可用
                    'runoob': Child
                }
            })
        </script>

        ===================================
        <br>
        <h2>示例:props</h2>
        <div id="app0-3">
            <child message="hello!"></child>
        </div>

        <script>
            // 注册
            Vue.component('child', {
                // 声明 props
                props: ['message'],
                // 同样也可以在 vm 实例中像 "this.message" 这样使用
                template: '<span>{{ message }}</span>'
            })
            // 创建根实例
            new Vue({
                el: '#app0-3'
            })
        </script>
        ===================================
        <br>
        <h2>示例:prop的大小写</h2>
        <div id="app0-3-1">
            <blog-post post-title="hello!"></blog-post>
        </div>

        <script>
            // 全局注册
            Vue.component('blog-post', {
                // 在 JavaScript 中是 camelCase 的
                props: ['postTitle'],
                template: '<h3>{{ postTitle }}</h3>'
            })
            // 创建根实例
            new Vue({
                el: '#app0-3-1'
            })
        </script>

        ===================================
        ===================================
        <br>
        <h2>更多练习</h2>
        <div id="app-10">
            <input type="text" placeholder="请输入0-100的数字" v-bind:style="style" v-model="x">
            <input type="checkbox" @click="ifclick()">
        </div>
        <script>
            new Vue({
                el: "#app-10",
                data: {
                    style: "color: black",
                    x: "",
                    flag: 0
                },
                methods: {
                    ifclick: function () {
                        this.flag ^= 1;
                        if (this.flag) {
                            this.style = "color: blue"
                        } else {
                            this.style = "color: pink"
                        }
                    }
                },
                watch: {
                    x: function (val) {
                        this.x = val;
                        if (this.x < 60) {
                            this.style = "color: red"
                            console.log(this.style);
                        } else {
                            this.style = "color: black"
                            console.log(this.style);
                        }
                        console.log(this.style);
                    }
                }
            })
        </script>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/226yzy/live2d-widget/autoload.js"></script>
    <script type="text/javascript">
        var OriginTitile = document.title,
            st;
        document.addEventListener("visibilitychange", function () {
            document.hidden ? (document.title = "ヽ(●-`Д´-)ノ别跑稍等", clearTimeout(st)) : (document.title =
                "(Ő∀Ő3)ノ干得漂亮，成功了！", st = setTimeout(function () {
                    document.title = OriginTitile
                }, 3e3))
        })
    </script>
    <!-- 百度统计 -->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?22dbcfcfb0678c74968f1f95135cf022";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</html>