*{
    text-decoration: none;
}
body {
    width: auto;
    height: auto;
    text-align: center;
    background-color: #E0FFFF;
    overflow-x:hidden;   
}


table {
    min-width: 340px;
    font-size: 30px;
    font-weight: bold;
    background-color: #bbada0;
    margin: 0px auto; /*上下外边距为0，左右根据宽度自适应,即水平居中*/
    margin-top: 20px;
    border-radius: 10px; /* 设置表格边框圆角 */
}
td {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: rgb(29, 180, 250);
}
#theMark{
    font-size: 36px;
    font-weight: bold;
}

#newgame{
    background-color: rgb(241, 176, 56);
    border-radius: 5px;
    width: 150px;
    height: 50px;
    color: aliceblue;
    font-size: large;
    font-weight: 800;
    margin-top: 20px;
}
#mark{
    font-size: 36px;
    font-weight: bold;
    color: rgb(33, 132, 245);
}

#gameover{
    font-size: 36px;
    font-weight: bold;
    display:none;
    color: crimson;
    margin: 0 auto;
}

#heander{
    width: 100%;
    height: 80px;
}

#my{
    padding-left: 5%;
    text-align: left;
}

#my img{
    width: 45px;
    height: 45px;
}
#myid{
    padding: 8px;
    position:absolute;
}

#myid :hover{
    color: rgb(30, 127, 238);
}

#my a{
    color: rgb(26, 164, 245);
    font-size:17px;
    font-weight: 700;
    margin: 0 auto;
}

/* 滚动条 */
::-webkit-scrollbar-thumb {
    background-color: #2ab1ff;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .4) 75%, transparent 75%, transparent);
    border-radius: 3em;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 3em;
}

::-webkit-scrollbar {
    width: 8px;
    height: 15px;
}


